/* start globle feature */

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "IBM Plex Sans Arabic", sans-serif;
    background-color: #F9FAFB;
}

:root {
    --main-color: #101828;
    --sub-color: #6A7282;
    --sub-color1: #4A5565;
    --main-padding: 24px;
}

.intialization-container {
    border: 2px solid #E5E7EB;
    border-radius: 16px;
    box-shadow: 0 1px 3px 0px #EBECEF;
}

.intialization-container-small {
    border: 1px solid #E5E7EB;
    border-radius: 16px;
    padding: 12px;
}

/* end globle feature */

/* start grid feature */

.main-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    grid-auto-flow: row;
    grid-template-areas:
        "container container container";
}

.container {
    display: grid;
    grid-area: container;
    grid-template-columns: auto;
    grid-template-rows: auto auto auto auto auto auto auto auto auto auto auto;
    gap: 40px 20px;
    grid-auto-flow: row;
    grid-template-areas:
        "nav-bar"
        "current-balance"
        "income"
        "expenses"
        "recent-activities"
        "recent-transactions"
        "monthly-bills"
        "budget-overview"
        "income-versus-expenses"
        "account-summary"
        "payment-methods";
    padding: 16px 16px 32px;
}

.nav-bar {
    grid-area: nav-bar;
}

.side-bar {
    grid-area: side-bar;
}

.current-balance {
    grid-area: current-balance;
}

.income {
    grid-area: income;
}

.expenses {
    grid-area: expenses;
}

.recent-activities {
    grid-area: recent-activities;
}

.monthly-bills {
    grid-area: monthly-bills;
}

.recent-transactions {
    grid-area: recent-transactions;
}

.income-versus-expenses {
    grid-area: income-versus-expenses;
}

.account-summary {
    grid-area: account-summary;
}

.payment-methods {
    grid-area: payment-methods;
}

.budget-overview {
    grid-area: budget-overview;
}

aside,
header,
section {
    direction: rtl;
    text-align: right;
    background-color: #FFF;
}

/* end grid feature */


/* start side-bar */

.side-bar {
    display: none;
}

/* end side-bar */


/* start header */


.header-container {
    display: flex;
    flex-direction: column;
    gap: 16px;
    justify-content: space-between;
}

.nav-bar {
    padding: 16px;
    box-shadow: 0 1px 3px 1px #E2E2E3;
    border-radius: 20px;

}

.second-logo {
    display: flex;
    align-items: center;
    gap: 14px;
    border-radius: 16px;
}

.second-logo .second-logo-image {
    background: linear-gradient(to bottom right,
            #2258F8,
            #4035DD);
    width: 48px;
    padding: 12px;
    border-radius: 16px;
    box-shadow: 0 10px 15px 6px #D1E3FF;
}

.second-logo .second-logo-text h1 {
    font-size: 24px;
    color: var(--main-color);
    line-height: 1.1;
}

.second-logo .second-logo-text p {
    font-size: 12px;
    color: var(--sub-color1);
    margin-top: 4px;
    font-weight: 550;
}

.active,
.active1 {
    display: flex;
    justify-content: center;
    gap: 8px;
    align-items: center;
    background-color: #F0FDF4;
    padding: 6px 12px;
    border: 1px solid #DBFCE7;
    border-radius: 12px;
    order: 3;
}

.active span,
.active1 span {
    font-size: 12px;
    font-weight: 550;
    color: #008236;
}

.active div,
.active1 div {
    width: 8px;
    height: 8px;
    background-color: #00c950;
    border-radius: 50%;
    animation: statusPulse 2s infinite;
}

.active {
    display: none;
}

@keyframes statusPulse {
    0% {
        background-color: #00c950;
    }

    50% {
        background-color: #7bf1a8;
    }

    100% {
        background-color: #00c950;
    }
}

.activity {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 8px;
}

.activity-icons {
    display: flex;
    gap: 8px;
}

.activity-icons img {
    background-color: #f9fafb;
    padding: 10px;
    border: 1px solid #E5E7EB;
    border-radius: 12px;
    width: 40px;
    transition: 0.3s;
}

.activity-icons img:hover {
    background-color: #F3F4F6;
}

.activity-icons .bell {
    position: relative;
}

.activity-icons .bell::before {
    content: "2";
    text-align: center;
    line-height: 1.2;
    font-size: 12px;
    font-weight: 550;
    width: 16px;
    height: 16px;
    color: #FFF;
    border-radius: 50%;
    position: absolute;
    background-color: #FB2C36;
    top: -3px;
    right: -3px;
}

.user {
    display: flex;
    align-items: center;
    padding: 8px 12px;
    border: 1px solid #E5E7EB;
    border-radius: 16px;
    box-shadow: 0 1px 3px 1px #E2E2E3;
    transition: 0.3s;
}

.user:hover {
    box-shadow: 0 1px 3px 3px #E2E2E3;
}

.user .user-name .name {
    display: none;
    font-size: 14px;
    font-weight: 550;
    color: #2C3341;
}

.user .premium-account {
    display: none;
}

.user-image {
    width: 32px;
}

.user-image img {
    width: 100%;
    display: block;
    border: 2px solid #F3F4F6;
    border-radius: 16px;
}


/* end header */

/* start balnce sections*/

.current-balance,
.income,
.expenses {
    padding: 32px;
}

.balance-text {
    font-size: 14px;
    font-weight: 550;
    color: var(--sub-color1);
}

.balance-price {
    font-size: 36px;
    font-weight: bold;
    color: var(--main-color);
}

.rate {
    display: flex;
    align-items: center;
    gap: 1px;
}

.rate span {
    font-weight: 550;
    color: #00A63E;
}

.rate .down-arrow {
    color: #E7000B;
}

.rate img {
    width: 16px;
}

/* end balnce sections*/

/* start recent-activities */

.recent-activities {
    padding: var(--main-padding);
}

.recent-activities-container {
    display: flex;
    gap: 12px;
    padding: 12px;
}

.container-heading {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 24px;
}

.container-heading h3 {
    font-size: 18px;
    color: var(--main-color);
}

.create-account {
    background-color: #EFF6FF;
    border-left: 4px solid #2B7FFF;
    border-radius: 16px;
    margin-bottom: 12px;
}

.add-card {
    background-color: #F0FDF4;
    border-left: 4px solid #00C950;
    border-radius: 16px;
}

.recent-activities-text {
    width: 100%;
}

.recent-activities-hedding {
    display: flex;
    justify-content: space-between;
    margin-bottom: 4px;
}

.recent-activities-hedding h4 {
    font-size: 14px;
    color: var(--main-color);
}

.account,
.card {
    font-size: 12px;
    font-weight: 550;

}

.account {
    color: #155DFC;
}

.card {
    color: #00A63E;
}

.recent-activities-text p {
    font-size: 12px;
    font-weight: bold;
    color: var(--sub-color1);
    margin-bottom: 8px;
}

.recent-activities-text .time {
    font-size: 12px;
    font-weight: 550;
    color: var(--sub-color);
}


.recent-activities-icon {
    width: 36px;
}

.recent-activities-icon img {
    width: 100%;
    display: block;
    padding: 6px;
    border-radius: 50%;
}

.user-icon img {
    background-color: #DBEAFE;
}

.card-icon img {
    background-color: #DBFCE7;
}

.recent-activities-button {
    display: flex;
    justify-content: center;
    padding-top: 16px;
    margin-top: 16px;
    position: relative;
}

.recent-activities-button::before {
    content: "";
    width: 100%;
    height: 2px;
    background-color: #F3F4F6;
    position: absolute;
    top: 0px;
}

.recent-activities-button button {
    background-color: transparent;
    color: #2258F8;
    border: none;
    font-size: 14px;
    font-weight: 500;
    cursor: pointer;
}

/* end recent-activities */


/* start monthly-bills */

.monthly-bills {
    padding: var(--main-padding);
}

.container-heading .show-all {
    font-size: 14px;
    font-weight: 550;
    color: var(--sub-color1);
    transition: 0.3s;
    cursor: pointer;
}

.container-heading .show-all:hover {
    color: var(--main-color);
}

.monthly-bills-text {
    text-align: center;
    margin-bottom: 16px;
}

.monthly-bills-text .monthly-bills-price {
    font-size: 30px;
    font-weight: bold;
    color: var(--main-color);
}

.monthly-bills-text .monthly-bills-overall {
    font-size: 14px;
    font-weight: 550;
    color: var(--sub-color);

}

.your-monthly-bills {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto auto;
    gap: 10px 10px;
    grid-auto-flow: row;
    grid-template-areas:
        "internet electricity"
        "phone netflix"
    ;
}

.internet {
    text-align: center;
    grid-area: internet;
    background-color: #F9FAFB;
}

.electricity {
    text-align: center;
    grid-area: electricity;
    background-color: #F9FAFB;
}

.phone {
    text-align: center;
    grid-area: phone;
    background-color: #F9FAFB;
}

.netflix {
    text-align: center;
    grid-area: netflix;
    background-color: #F9FAFB;
}

.monthly-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 8px;
}

.monthly-icon img {
    margin: 1px auto;
    width: 36px;
    padding: 8px;
    border-radius: 12px;
}

.internet-icon img {
    background-color: #DBEAFE;
}

.electricity-icon img {
    background-color: #FEF9C2;
}

.phone-icon img {
    background-color: #DBFCE7;
}

.netflix-icon img {
    background-color: #FFE2E2;
}

.monthly-text {
    font-size: 12px;
    font-weight: 600;
    color: var(--sub-color);
}

.monthly-price {
    font-weight: bold;
    color: var(--main-color);
}

.monthly-time {
    font-size: 12px;
    font-weight: 600;
}

.internet-time {
    color: #FB2C36;
}

.electricity-time {
    color: #FF6900;
}

.phone-time {
    color: #00C950;
}

.netflix-time {
    color: var(--sub-color);
}

/* end monthly-bills */


/* start recent-transactions */

.recent-transactions {
    padding: var(--main-padding);
    min-width: 0;
}

.table-container {
    overflow-x: auto;
}

th,
td {
    white-space: nowrap;
}

table {
    width: 100%;
    border-spacing: 0;
}

thead tr th {
    font-size: 14px;
    color: var(--sub-color1);
    padding: 12px 8px;
}

thead th {
    border-bottom: 2px solid #F3F4F6;
}

tbody td {
    border-bottom: 1px solid #F3F4F6;
}

tbody tr td {
    padding: 16px 8px;
}

.table-image,
.table-icon {
    display: flex;
    align-items: center;
    gap: 12px;
}

.table-image-img img {
    width: 40px;
    border-radius: 50%;
}

.table-icon-img {
    border-radius: 50%;
    padding: 8px;
    width: 40px;
}

.table-icon-img img {
    width: 100%;
    display: block;
}

.table-icon-food {
    background-color: #FFEDD4;
}

.table-icon-shopping {
    background-color: #DBEAFE;
}

.table-icon-transportation {
    background-color: #FFE2E2;
}

.table-icon-entertainment {
    background-color: #E0E7FF;
}

.table-icon-fitlife {
    background-color: #CEFAFE;
}

.table-icon-education {
    background-color: #D0FAE5;
}

.table-image-name {
    font-size: 14px;
    font-weight: bold;
    color: var(--main-color);
}

.table-image-value {
    font-size: 12px;
    font-weight: 600;
    color: var(--sub-color);
}

.category {
    display: inline-flex;
    align-items: center;
    gap: 3px;
    padding: 2px 10px;
    border-radius: 30px;
}

.income-category {
    background-color: #DBFCE7;
}

.income-text {
    color: #016630;
}

.food-category {
    background-color: #FFEDD4;
}

.food-text {
    color: #AB3000;
}

.shopping-category {
    background-color: #DBEAFE;
}

.shopping-text {
    color: #2648BD;
}

.bill-category {
    background-color: #F3E8FF;
}

.bill-text {
    color: #6E11B0;
}

.work-category {
    background-color: #DBFCE7;
}

.work-text {
    color: #016630;
}

.transportation-category {
    background-color: #FFE2E2;
}

.transportation-text {
    color: #9F0712;
}

.entertainment-category {
    background-color: #E0E7FF;
}

.entertainment-text {
    color: #372AAC;
}

.fitlife-category {
    background-color: #CEFAFE;
}

.fitlife-text {
    color: #005F78;
}

.education-category {
    background-color: #D0FAE5;
}

.education-text {
    color: #006045;
}

.category img {
    width: 14px;
    display: block;
}

.category-text {
    font-size: 12px;
    font-weight: 600;
}

.date {
    font-size: 14px;
    font-weight: 600;
    color: var(--sub-color1);
}

.done,
.hanging {
    font-size: 12px;
    font-weight: 600;
    border-radius: 30px;
    padding: 2px 10px
}

.done {
    background-color: #DBFCE7;
    color: #016630;
}

.hanging {
    background-color: #FEF9C2;
    color: #894B00;
}

.table-price-minus,
.table-price-plus {
    font-size: 14px;
    font-weight: 600;
}

.table-price-minus {
    color: var(--main-color);
}

.table-price-plus {
    color: #008732;
}

/* end recent-transactions */


/* start budget-overview */

.budget-overview {
    padding: var(--main-padding);
}

.budget-overview-main-card {
    padding: 16px;
    margin-bottom: 24px;
    border: 1px solid #DBEAFEed;
    border-radius: 16px;
    background-color: #EEF3FF;
}

.main-card-header,
.used {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.used {
    margin-bottom: 4px;
    font-size: 12px;
    font-weight: 600;
    color: var(--sub-color);
}

.total-budget-text {
    font-size: 14px;
    font-weight: 600;
    color: #2266FC;
}

.total-budget-price {
    font-size: 24px;
    font-weight: bold;
    color: #1C398E;
}

.residual-text {
    font-size: 14px;
    font-weight: 600;
    color: var(--sub-color);
}

.residual-price {
    font-size: 18px;
    font-weight: 600;
    color: #00A63E;
}

.used-line {
    height: 8px;
    background-color: #E5E7EB;
    border-radius: 20px;
    position: relative;
}

.used-line::before {
    content: "";
    position: absolute;
    height: 100%;
    border-radius: 20px;
}

.first-used-line::before {
    background: linear-gradient(to bottom right,
            #2258F8,
            #4035DD);
    width: 82.5%;
}

.second-used-line::before {
    background-color: #FF6900;
    width: 50%;
}

.third-used-line::before {
    background-color: #FB2C36;
    width: 100%;
}

.forth-used-line::before {
    background-color: #F6339A;
    width: 80%;
}

.fifth-used-line::before {
    background-color: #00C950;
    width: 86%;
}

.budget-overview-card {
    padding: 16px;
    margin-bottom: 16px;
    border: 1px solid #E5E7EB;
    border-radius: 16px;
    transition: 0.3s;
}

.last-card {
    margin-bottom: 0;
}

.budget-overview-card:hover {
    background-color: #F5F6F8;
    box-shadow: 0 1px 3px 1px #E2E2E3;
    transform: translateY(-2px);
}

.budget-card {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 8px;
}


.right-card {
    display: flex;
    align-items: center;
    gap: 8px;
}

.budget-card-img {
    border-radius: 8px;
    padding: 8px;
    width: 36px;
}

.budget-card-img img {
    width: 100%;
    display: block;
}

.entertainment-card {
    background-color: #FFEDD4;
}

.bills-card {
    background-color: #FEE2E2;
}

.care-card {
    background-color: #FCE7F3;
}

.supplies-card {
    background-color: #DCFCE7;
}

.left-card-percentage {
    padding: 2px 8px;
    font-size: 12px;
    font-weight: 600;
    border-radius: 30px;
}

.entertainment-percentage {
    background-color: #DCFCE7;
    color: #166534;
}

.bills-percentage {
    background-color: #FEE2E2;
    color: #991B1B;
}

.care-percentage {
    background-color: #FEF3C7;
    color: #92400E;
}

.supplies-percentage {
    background-color: #DCFCE7;
    color: #2E784A;
}

.budget-card-name,
.left-card-price {
    font-weight: 600;
    color: var(--main-color);
}

.budget-card-price {
    font-size: 12px;
    font-weight: 600;
    color: var(--sub-color);
}

/* end budget-overview */


/* start income-versus-expenses */

.income-versus-expenses {
    padding: var(--main-padding);
}

.income-vs-expenses {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 12px;
    margin-bottom: 16px;
}

.income-container,
.expenses-container {
    display: flex;
    align-items: center;
    gap: 12px;
}

.income-container span,
.expenses-container span {
    color: #64748B;
    font-size: 12px;
    font-weight: 600;
}

.income-container div,
.expenses-container div {
    width: 12px;
    height: 12px;
    border-radius: 20%;
}

.income-container div {
    background-color: #10B981;
}

.expenses-container div {
    background-color: #EF4444;
}

.chart-week {
    font-size: 12px;
    font-weight: 600;
    color: #64748B;
    margin-top: 8px;
}

.chart-main-container {
    display: flex;
    justify-content: space-around;
}

.chart-container {
    margin-inline: 4px;
    align-content: space-between;
}

.chart {
    display: flex;
    gap: 2px;
}

.chart-bar {
    display: flex;
    align-items: end;
    height: 160px;
    width: 16px;
}

.chart-bar-income {
    width: 16px;
    background-color: #10B981;
    border-radius: 3px 3px 0 0;
}

.chart-bar-expenses {
    width: 16px;
    background-color: #EF4444;
    border-radius: 3px 3px 0 0;
}

.chart-first-income {
    height: 95px;
}

.chart-second-income {
    height: 98px;
}

.chart-third-income {
    height: 92px;
}

.chart-forth-income {
    height: 96px;
}

.chart-first-expenses {
    height: 42px;
}

.chart-second-expenses {
    height: 45px;
}

.chart-third-expenses {
    height: 38px;
}

.chart-forth-expenses {
    height: 45px;
}

/* end income-versus-expenses */


/* start account-summary */

.account-summary {
    padding: var(--main-padding);
}

.account-summary-card {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #F9FAFB;
    border: 1px solid #e5e7eb;
    border-radius: 16px;
    padding: 16px;
    margin-bottom: 16px;
}

.left-card {
    color: var(--main-color);
    font-weight: 600;
}

.left-card .left-card-minus {
    color: #E7000B;
}

.current-account-card {
    background-color: #DBEAFE;
}

.savings-account-card {
    background-color: #DBFCE7;
}

.credit-card {
    background-color: #F3E8FF;
}


/* end account-summary */


/* start payment-methods */

.payment-methods {
    padding: var(--main-padding);
}

.card-container {
    width: 100%;
    height: 190px;
    perspective: 1000px;
    margin-bottom: 14px;
}

.last-container {
    margin-bottom: 0;
}

.card {
    width: 100%;
    height: 100%;
    position: relative;
    transform-style: preserve-3d;
    transition: transform 0.5s;
}

.card-container:hover .card {
    transform: rotateY(180deg);
}

.card-front,
.card-back {
    padding: 28px;
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 12px;
    backface-visibility: hidden;
}

.card-front-header img {
    width: 40px;
}

.card-front-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 32px;
}

.front-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 48px;
    height: 32px;
    border-radius: 6px;
}

.front-icon div {
    width: 24px;
    height: 16px;
    border-radius: 4px;
}

.card-front-visa {
    background: #372caa;
}

.front-icon-visa {
    background-color: #5e53bd;
}

.front-icon-visa div {
    background-color: #9F99D7;
}

.card-front-mastercard {
    background: #c70036;
}

.front-icon-mastercard {
    background-color: #d2335e;
}

.front-icon-mastercard div {
    background-color: #e4859e;
}

.card-front-paypal {
    background: #193cb8;
}

.front-icon-paypal {
    background-color: #4763c6;
}

.front-icon-paypal div {
    background-color: #91a1dd;
}

.card-number {
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 8px;
}

.card-info {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 16px;
    font-size: 14px;
    font-weight: 600;
}

.card-holder,
.expires {
    font-size: 12px;
    color: #fcfcfc;
}

.paypal-date {
    color: #06df72;
}

.main-card {
    backdrop-filter: blur(4px);
    background: #ffffff24;
    border-radius: 50px;
    padding: 6px 10px;
    position: absolute;
    top: 10px;
    left: 12px;
    font-weight: 600;
}

.card-front {
    color: white;
}

.card-back {
    background: linear-gradient(135deg,
            #000f2f,
            #00153d,
            #000814);
    color: white;
    transform: rotateY(180deg);
}

.magnetic-strip {
    width: 100%;
    height: 25px;
    background: linear-gradient(to right,
            #000,
            #333);
    border-radius: 4px;
    margin-bottom: 8px;
}

.signature-section div {
    font-size: 10px;
    color: #a1a1aa;
    margin-bottom: 6px;
}

.signature-box {
    width: 100%;
    padding: 6px 8px;
    background: #e5e7eb;
    border-radius: 6px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 2px;
}

.cvv-number {
    color: #000000d9;
    font-weight: 700;
    font-size: 14px;
}

.cvv-line {
    width: 100%;
    height: 100%;
    height: 8px;
    background-image: linear-gradient(90deg, #0000000f, #0000002e, #0000000f);
    transform: skew(-10deg);
}

.cvv-section {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: end;
}

.cvv-section .cvv {
    font-weight: 600;
    color: var(--sub-color);
}

.cvv-box {
    font-size: 18px;
    font-weight: 600;
    background: #f8fafc;
    color: #000000d9;
    border-radius: 8px;
    padding: 8px 12px;
}

/* end payment-methods */


/* media */

/* sm */
@media screen and (min-width:640px) {
    .sm-w25 {
        width: 25%;
    }

    .sm-w33 {
        width: 33.33%;
    }

    .sm-w50 {
        width: 50%;
    }

    .sm-w100 {
        width: 100%;
    }

    .user .user-name .name {
        display: block;
    }

    .activity {
        justify-content: flex-start;
    }

    .header-container {
        flex-direction: row;
        gap: 0px;
    }

    .user {
        gap: 8px;
        padding: 8px 16px;
    }

    .user-image {
        width: 40px;
    }

    .active {
        display: flex;
    }

    .active1 {
        display: none;
    }
}

/* md */
@media screen and (min-width:786px) {
    .md-w25 {
        width: 25%;
    }

    .md-w33 {
        width: 33.33%;
    }

    .md-w50 {
        width: 50%;
    }

    .md-w100 {
        width: 100%;
    }

    .container {
        padding: 32px;
    }

    .main-container {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr auto;
        grid-template-rows: 1fr;
        grid-auto-flow: row;
        grid-template-areas:
            "container container container side-bar";
    }

    /* start side bar */

    .side-bar {
        display: block;
        padding: 12px;
        height: 100vh;
        overflow-y: auto;
        position: sticky;
        top: 0px;
    }

    .logo {
        display: flex;
        align-items: center;
        gap: 14px;
    }

    .logo .logo-image {
        background: linear-gradient(to bottom right,
                #2258F8,
                #4035DD);
        width: 40px;
        padding: 10px;
        border-radius: 16px;
        box-shadow: 0 10px 15px -3px #D1E3FF;
    }

    .logo .logo-text h1 {
        font-size: 36px;
        color: var(--main-color);
        line-height: 1.1;
    }

    .logo .logo-text p {
        font-size: 14px;
        color: var(--sub-color1);
        margin-top: 4px;
        font-weight: 550;
    }

    .page-container {
        margin-top: 32px;
        list-style-type: none;
    }

    .side-page {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 10px;
        padding: 8px 8px;
        margin-bottom: 6px;
        color: var(--sub-color1);
        border-radius: 12px;
        transition: 0.3s;
        cursor: pointer;
    }

    .side-page:hover {
        background-color: #F9FAFB;
    }

    .home-page {
        background-color: #EFF6FF;
        color: #1447E6;
        border: 2px solid #DBEAFE;
    }

    .home-page:hover {
        background-color: #EFF6FF;
    }

    .home-page span {
        margin-left: 20px;
    }

    .side-page img {
        width: 20px;
    }

    .side-feature-container {
        margin-top: 32px;
    }

    .side-feature {
        margin-bottom: 12px;
        padding: 8px 0px;
        cursor: pointer;
        transition: 0.3s;
        border-radius: 16px;
    }

    .side-feature:hover {
        background-color: #EFF6FF;
        transform: translateX(3px);
    }

    .side-feature-container h3 {
        font-size: 14px;
        margin-bottom: 16px;
        padding-inline: 8px;
        color: #364153;
    }

    .side-feature-container ul {
        list-style-type: none;
    }

    .side-feature-container .side-feature {
        display: flex;
        align-items: center;
        gap: 10px;
        color: #364153;
    }

    .send-money {
        background-color: #DBE8FC;
    }

    .add-money {
        background-color: #D5F3E1;
    }

    .buy-a-bill {
        background-color: #EFE0FC;
    }

    .investment {
        background-color: #FCE5D5;
    }

    .side-feature img {
        width: 36px;
        padding: 8px;
        border-radius: 8px;
    }

    .logo-text,
    .side-page span,
    .side-feature span,
    .side-feature-container h3 {
        display: none;
    }

    /* end side bar */

    /* start header */

    .user .premium-account {
        display: block;
        font-size: 12px;
        font-weight: 550;
        color: #6A7282;
    }

    .nav-bar {
        padding: 24px;
    }

    .second-logo .second-logo-image {
        width: 56px;
        padding: 15px;
    }

    .second-logo .second-logo-text h1 {
        font-size: 36px;
    }

    .second-logo .second-logo-text p {
        font-size: 14px;
    }

    .active span {
        font-size: 16px;
    }

    .user-image {
        width: 42px;
    }

    /* end header */

    /* start balnce sections */



    .container {
        grid-template-rows: auto auto auto auto auto auto;
        grid-template-columns: auto auto auto auto auto auto;
        grid-template-areas:
            "nav-bar nav-bar nav-bar nav-bar nav-bar nav-bar"
            "expenses expenses income income current-balance current-balance"
            "recent-activities recent-activities recent-activities income-versus-expenses income-versus-expenses income-versus-expenses"
            "recent-transactions recent-transactions recent-transactions recent-transactions recent-transactions recent-transactions"
            "monthly-bills monthly-bills monthly-bills account-summary account-summary account-summary"
            "payment-methods payment-methods payment-methods budget-overview budget-overview budget-overview";
    }

    .balance-price {
        font-size: 26px;
    }

    /* end balnce sections */
}

/* lg */
@media screen and (min-width:1024px) {
    .lg-w25 {
        width: 25%;
    }

    .lg-w33 {
        width: 33.33%;
    }

    .lg-w50 {
        width: 50%;
    }

    .lg-w100 {
        width: 100%;
    }

    .balance-price {
        font-size: 36px;
    }
}

/* xl */
@media screen and (min-width:1280px) {
    .xl-w25 {
        width: 25%;
    }

    .xl-w33 {
        width: 33.33%;
    }

    .xl-w50 {
        width: 50%;
    }

    .xl-w100 {
        width: 100%;
    }

    .side-bar {
        padding: 24px;
    }

    .logo-text,
    .side-page span,
    .side-feature span,
    .side-feature-container h3 {
        display: inline-block;
    }

    .logo .logo-image {
        width: 56px;
        padding: 15px;
    }

    .side-page img {
        width: 24px;
    }

    .side-page {
        justify-content: flex-start;
        padding: 12px 16px;
        border-radius: 16px;
    }

    .side-feature {
        margin-bottom: 12px;
        padding: 12px;
    }

    .container {
        grid-template-rows: auto auto auto auto auto auto;
        grid-template-columns: auto auto auto;
        grid-template-areas:
            "nav-bar nav-bar nav-bar"
            "expenses  income current-balance"
            "recent-transactions recent-transactions recent-activities"
            "recent-transactions recent-transactions monthly-bills"
            "payment-methods income-versus-expenses budget-overview"
            "payment-methods account-summary budget-overview";
    }

}

/* xxl */
@media screen and (min-width:1536px) {
    .xxl-w25 {
        width: 25%;
    }

    .xxl-w33 {
        width: 33.33%;
    }

    .xxl-w50 {
        width: 50%;
    }

    .xxl-w100 {
        width: 100%;
    }
}